{% extends "base.html" %}
{% block content %}
<h1>Jukebox Albums</h1>
<p>Please select an album</p>
<table>
<thead>
  <!-- <th>debug</th> -->
  <th>Album</th>
  <th>Artist</th>
  <th>Songs</th>
  <th>Played</th>
</thead>
<tbody>
{% for album in albums %}
<tr>
<!-- <td>{{album}}</td> -->
<td><a class="album" href="/album/{{album.id}}">{{album.title}}</a></td>
<td><a class="artist" href="#">{{album.artist__name}}</td>
<td> {{ album.song_set__count }} </td>
<td> {{ album.song_set__played }} </td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
