{% extends "site.html" %}
{% block header %}
<ul>
  <li><a class="nav" href="/jukebox/">Albums</a></li>
  {% if user.is_authenticated %}
  <li><a class="nav" href="/accounts/profile/">Profile</a></li>
  <li><a class="nav" href="/accounts/logout/">Logout</a></li>
  {% else %}
  <li><a class="nav" href="/accounts/login/">Login</a></li>
  {% endif %}
  {% if user.is_staff %}
  <li><a class="nav" href="/admin/">Admin</a></li>
  {% endif %}
</ul>
{% endblock %}
{% block nav %}
<div id="nav">
  <p>Welcome to Zilla, {{user.username|default:"friend"}}!</p>
  <ul>
  </ul>
</div>
<p><a href="/search/">Search</a></p>
{% endblock %}
{% block footer %}
Zilla Jukebox
{% endblock %}

