<html>
  <head>
    <title>
    {% block title %}
    {% endblock %}
    </title>
  </head>
  <body>
    {% block header %}
    <ul>
      <li>Welcome to Zilla, {{user.username}}!</li>
      <li><a href="/accounts/login/">Login</a></li>
      <li><a href="/accounts/logout/">Logout</a></li>
      <li><a href="/accounts/profile/">Profile</a></li>
      <li><a href="/admin/">Admin</a></li>
    </ul>
    {% endblock %}
    <div id="nav">
      <ul>
        <li><a href="/jukebox/">Albums List</a></li>
      </ul>
    </div>
    <p>search</p>
    {% block nav %}
    {% endblock %}
    {% block content %}
    {% endblock %}
    {% block footer %}
    {% endblock %}
  </body>
</html>
